<template>
	<nav class="navbar is-fixed-top is-transparent">
		<div class="navbar-brand fade-in" id="brand">
			<div class="navbar-item">
				<a class="">
					<span class="fa-stack fa-1x" style="color: #a0a4d9;">
						<i class="far fa-circle fa-stack-2x sun-icon-border" id="border" aria-hidden="true"></i>
					  	<i class="fa fa-sun fa-stack-1x" id="color-mode" aria-hidden="true"></i>
					</span>
				</a>
			</div>
		</div>
	</nav>
	<section class="hero is-fullheight-with-navbar" data-include="components/hero-body">
	  
	</section>
	<section>
		<div class="container">
			
		</div>
	</section>
</template>